@import "@static/colors.scss";
@import "@static/typography.scss";
@import "@static/screens.scss";

$gallery1: url('@assets/gallery/gallery1.jpeg');
$gallery2: url('@assets/gallery/gallery2.jpeg');
$gallery3: url('@assets/gallery/gallery3.jpeg');
$gallery4: url('@assets/gallery/gallery4.jpeg');
$gallery5: url('@assets/gallery/gallery5.jpeg');
$gallery6: url('@assets/gallery/gallery6.jpeg');

@mixin gallery-styles($columns, $marginTop) {
  display: grid;
  grid-template-columns: $columns;
  grid-column-gap: 24px;
  margin-top: $marginTop;

  @media screen and (max-width: $tablet) {
    grid-column-gap: 20px;
  }
}

@mixin gallery-item-styles {
  height: 256px;
  border-radius: 8px;
  width: 100%;
  object-fit: cover;
  transition: transform .3s;

  @media screen and (max-width: $tablet) {
    height: 131px;
  }

  &:hover {
    transform: scale(1.05);
  }
}

.gallery {
  max-width: 1020px;
  margin: 0 auto;
  text-align: center;

  @media screen and (max-width: $tablet) {
    margin: 0 20px 0 20px;
  }

  &__row1 {
    @include gallery-styles(2fr 1fr, 0);

    @media screen and (max-width: $tablet) {
      @include gallery-styles(1fr 1fr, 0);
    }
  }

  &__row2 {
    @include gallery-styles(1fr 1fr, 40px);

    @media screen and (max-width: $tablet) {
      @include gallery-styles(1fr 1fr, 32px);
    }
  }

  &__row3 {
    @include gallery-styles(1fr 2fr, 40px);

    @media screen and (max-width: $tablet) {
      @include gallery-styles(1fr 1fr, 32px);
    }
  }

  &__item1 {
    @include gallery-item-styles();
    content: $gallery1;
  }

  &__item2 {
    @include gallery-item-styles();
    content: $gallery2;
  }

  &__item3 {
    @include gallery-item-styles();
    content: $gallery3;
  }

  &__item4 {
    @include gallery-item-styles();
    content: $gallery4;
  }

  &__item5 {
    @include gallery-item-styles();
    content: $gallery5;
  }

  &__item6 {
    @include gallery-item-styles();
    content: $gallery6;
  }

  &__location {
    @include body();
    margin-top: 24px;
    color: $gray;
    text-align: left;

    &__last {
      margin-bottom: 32px;
    }

    a {
      @include bodyBold();
      color: $blue;
      text-decoration: none;
    }
  }

  &__viewButton {
    @include bodyBold();
    cursor: pointer;
    width: 150px;
    height: 56px;
    border: $blue solid 2px;
    border-radius: 8px;
    background: transparent;
    color: $blue;
    transition: all .3s;

    &:hover {
      background-color: $blueLight;
      color: $white;
      box-shadow: 0 13px 27px $darkBlueRgb;
    }
  }
}

