@import "src/static/colors.scss";

$gallery1: url('/public/gallery/gallery1.jpeg');
$gallery2: url('/public/gallery/gallery2.jpeg');
$gallery3: url('/public/gallery/gallery3.jpeg');
$gallery4: url('/public/gallery/gallery4.jpeg');
$gallery5: url('/public/gallery/gallery5.jpeg');
$gallery6: url('/public/gallery/gallery6.jpeg');

.gridGallery1 {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-column-gap: 24px;
  margin-top: 56px;
}

.gridGallery2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 24px;
  margin-top: 40px;
}

.gridGallery3 {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-column-gap: 24px;
  margin-top: 40px;
}

.gallery {
  height: 256px;
  border-radius: 8px;
  width: 100%;
  object-fit: cover;
}

.gallery_item1 {
  content: $gallery1;
}

.gallery_item2 {
  content: $gallery2;
}

.gallery_item3 {
  content: $gallery3;
}

.gallery_item4 {
  content: $gallery4;
}

.gallery_item5 {
  content: $gallery5;
}

.gallery_item6 {
  content: $gallery6;
}

.text {
  margin-top: 24px;
  color: $gray;
  font-family: Roboto, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 27px;
  text-align: left;

  span {
    color: $blue;
  }
}

.button {
  cursor: pointer;
  width: 150px;
  height: 56px;
  flex-shrink: 0;
  border: $blue solid 2px;
  border-radius: 8px;
  background: transparent;
  color: $blue;
  text-align: center;
  font-family: Roboto, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 14px;
  margin-top: 32px;
}