@import 'src/static/colors.scss';

.contentWrapper {
  display: flex;
  text-align: left;
}

.content {
  width: 50%;
}

.textLeft {
  color: $black;
  font-family: Roboto, sans-serif;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 48px;
  letter-spacing: -1.5px;

  span {
    color: $blue;
  }
}

.textRightUpper {
  color: $blue;
  font-family: Roboto, sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 30px;
  margin-bottom: 16px;
}

.textRightLower {
  color: $gray;
  font-family: Roboto, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 27px;
}