@import 'src/static/colors.scss';
@import 'src/static/typography.scss';

.contentWrapper {
  display: flex;
  text-align: left;
}

.content {
  width: 50%;
}

.textLeft {
  @include h2();
  color: $black;

  span {
    color: $blue;
  }
}

.textRightUpper {
  @include h3();
  color: $blue;
}

.textRightLower {
  @include body();
  color: $gray;
}