@import 'src/static/colors.scss';
@import 'src/static/typography.scss';

.basicInformation {
  display: flex;
  max-width: 1020px;
  margin: 0 auto;
  text-align: left;

  &__leftContent,
  &__rightContent {
    width: 50%;
  }

  &__mainTitle {
    @include h2();
    color: $black;

    span {
      color: $blue;
    }
  }

  &__subTitle {
    @include h3();
    color: $blue;
  }

  &__description {
    @include body();
    color: $gray;
  }
}