@import "src/static/colors.scss";
@import "src/static/typography.scss";

.mainText {
  @include h1();
  color: $white;
  text-align: left;

  &:before {
    content: "";
    display: block;
    width: 40px;
    height: 2px;
    background-color: $white;
    margin-bottom: 24px;
  }
}