@import "src/static/colors.scss";
@import "src/static/typography.scss";

$coronaIcon: url('/public/coronaIcon.svg');

.coronaIcon {
  content: $coronaIcon;
}

.secondText {
  @include h2();
  color: $black;
}