@import "src/static/colors.scss";
@import "src/static/typography.scss";

$coronaIcon: url('/public/coronaIcon.svg');

.title {
  text-align: center;

  &__icon {
    content: $coronaIcon;
  }

  &__text {
    @include h2();
    color: $black;
  }
}