$burgerIcon: url('/public/burgerMenuIcon.svg');
$phoneIcon: url('/public/phoneIcon.svg');
$logoMiami: url('/public/logoMiami.svg');

@mixin button-styles() {
  background-color: transparent;
  border: none;
  appearance: none;
  width: 32px;
  height: 32px;
  cursor: pointer;
}

.upperHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__burgerButton {
    @include button-styles();
    background-image: $burgerIcon;
  }

  &__logoImg {
    content: $logoMiami;
  }

  &__phoneButton {
    @include button-styles();
    background-image: $phoneIcon;
  }
}