$background: url('/public/bgHeaderMiami.svg');

.background {
  background-image: $background;
  background-size: cover;
  background-position: 50%;
}

.contentHeader {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  padding: 24px 0 80px 0;
}