@import '@static/screens.scss';

$background: url('@assets/bgFooterMiami.jpg');
$logoMiami: url('@assets/logoMiami.svg');

.footer {
  background-image: $background;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50%;
  height: 359px;
  margin-top: 120px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;

  @media screen and (max-width: $tablet) {
    height: 206px;
  }

  &__logo {
    content: $logoMiami;
    margin-bottom: 32px;
  }
}
