@import 'src/static/colors.scss';
@import 'src/static/typography.scss';
@import 'src/static/screens.scss';

@mixin input-styles {
  @include small();
  border: 2px solid transparent;
  border-radius: 8px;
  padding: 14px 0 14px 17px;
  background: $grayLight2;
  color: $grayDark;
  height: 48px;

  &:hover {
    border-color: $grayLight;
  }
}

.contactUs {
  max-width: 1020px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 111px;

  @media screen and (max-width: $tablet) {
    display: flex;
    flex-direction: column;
    margin: 0 20px 0 20px;
    align-items: center;
  }

  &__section {
    text-align: left;

    &Title {
      @include small();
      color: $grayLight;
    }

    &Text {
      @include body();
      color: $gray;
      text-decoration: none;
    }
  }

  &__leftContent {
    display: flex;
    flex-direction: column;
    width: 150px;

    @media screen and (max-width: $tablet) {
      margin-top: 24px;
    }

    &__email {
      margin-top: 24px;
    }
  }

  &__rightContent {
    display: grid;
    grid-row-gap: 16px;
    width: 411px;

    @media screen and (max-width: $tablet) {
      width: 280px;
      margin-top: 32px;
    }

    &__nameInput {
      @include input-styles;
    }

    &__emailInput {
      @include input-styles;
    }

    &__messageTextArea {
      @include input-styles;
      height: 144px;
      resize: none;
    }

    &__consultationButton {
      @include bodyBold();
      border: transparent;
      height: 56px;
      border-radius: 8px;
      background: $blueLight;
      color: $white;
      cursor: pointer;
      transition: all .3s;

      &:hover {
        box-shadow: 0 13px 27px $darkBlueRgb;
      }
    }
  }
}
